/* main.css */


/* These are the colors and fonts used throughout the webpage.
 * I've listed them here so that a user may easily
 * do a search-and-replace for these to change the site theme.
 *   'Roboto',sans-serif; Font for the title text
 *   'Roboto-Slab',serif; Font for the body text 
 *   #fafafa; Background color of the site
 *   #505050; Foreground (text) color of the site
 *   #52739e; Navy, "Template" in the logo, current page in navigation, special titles in the Program
 *   #b2132e; Reddish, "Conference" in the logo, hover color for links
 *   #813c54; Heading color, titles in the Program
 *   #b8860b; Dark Goldenrod, color for links
 */

@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.font {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    line-height: 1.2;
}

* {
    border: 0;
    font: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #fafafa;
    background-size: cover;
    background-attachment: fixed;
    color: #505050;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin: 60px auto;
    width: 1200px;
    overflow-x: hidden;

}

a {
    color: #710071;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}

td.navigation {
    background: #fff;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

td.navigation a.current {
    background: #710071;
    /* For browsers that do not support gradients */
    padding: 0px 10px 0px 10px;
    text-align: center;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

a.current:hover {
    color: #710071;
    padding: 0px 10px 0px 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

a:hover {
    color: #7213b2;
    padding: 0px 10px 0px 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

a:active {
    color: #e82945;
    padding: 0px 10px 0px 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    clear: left;
    color: #813c54;
    margin: 1.5em 0em 1em .5em;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 2px #d0d0d0;
}

h1 {
    font-size: 2.67em;
}

h2 {
    font-size: 2.00em;
}

h3 {
    font-size: 1.67em;
}

h4 {
    font-size: 1.33em;
}

p {
    list-style: none;
    margin: 24px auto 24px auto;
    padding: 0px;
    width: 900px;
    text-align: left;

}

li a,
p a {
    text-decoration: underline;
    text-decoration-color: #710071;
}

ul {
    list-style: none;
    margin: 24px auto 24px auto;
    padding: 0px;
    width: 800px;
    text-align: left;
}

li {
    list-style: disc;
    padding: 0px;
    text-align: left;
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

sup {
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}

sub {
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0;
}

table {
    width: 1000px;
    margin: 12px auto 24px auto;
    float: center;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}

th,
td {
    text-align: left;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}


/* Website Banner */

.banner {
    position: relative;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-left {
    font-size: 5.33em;
    color: #505050;
    background: #fafafa;
    text-align: center;
    width: 1000px;
    height: 67px;
    position: absolute;
    padding: 36px 0 0 0;
    top: 0px;
}

.bottom-right {
    font-size: 2.33em;
    color: #fafafa;
    line-height: 1.5em;
    width: auto;
    height: 100px;
    padding: 0px 27px 27px 0px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-shadow: 0px 0px 6px #000000;
}


/* Conference Title Logo */

.title1 {
    color: purple;
    text-align: center;
    text-shadow: 1px 1px 3px #c0c0c0;

}

.title2 {
    color: #52739e;
    text-align: center;

    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 3px #c0c0c0;
}

.year {
    color: #505050;
    font-size: 0.67em;
    font-weight: lighter;
}


/* Navigation Links (Home, Registration, etc) */

table.navigation {
    width: 800px;
}

td.navigation {
    font-size: 1.67em;
    white-space: nowrap;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: white;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: purple;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.active {
    background-color: purple;
    color: white;
}

li.menu a:hover {
    background-color: white;
    color: purple;
}


/* Sponsor Images */

table.sponsors {
    width: 800px;
    /* margin-left: -50px; */
}

td.sponsor {
    white-space: nowrap;
    width: 33%;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

td.sponsor img {
    width: 100%
}


/* The Table on the Program Page */

td.room {
    padding: 4px 12px 4px 4px;
    width: 90%;
    vertical-align: bottom;
    font-size: 1.67em;
    color: #52739e;
    height: 32px;
}

td.date {
    white-space: nowrap;
    /* width: 100%; */
    text-align: right;
    vertical-align: center;
    padding: 4px 56px 0px 20px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    /* color: red; */
    font-weight: bolder;
}

.blink_date {
    animation-name: big, shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);

}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }


    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes big {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.3);
    }
}


td.date:hover {
    transform: scale(1.2);
}

td.title {
    padding: 4px 12px 4px 4px;
    width: 90%;
    vertical-align: top;
    font-size: 1.5em;
    color: #813c54;
    height: 32px;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 2px #d0d0d0;
}

td.title-special {
    padding: 4px 12px 4px 4px;
    width: 100%;
    vertical-align: center;
    font-size: 1.67em;
    color: #52739e;

    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 2px #d0d0d0;
}

td.speaker {
    padding: 4px 12px 4px 4px;
    font-style: italic;
    font-size: 1em;
    max-height: 999999px
}

td.abstract {
    padding: 4px 12px 12px 4px;
    font-size: 1em;
    max-height: 999999px
}

td.abstract img {
    display: block;
    margin: 4px auto 8px auto
}



/* Registration and Rules iframes and Images */

iframe.registration {
    display: block;
    margin: 1em auto 2em auto;
    width: 700px;
    height: 1400px;
    border: none;
}

iframe.rules {
    display: block;
    margin: 1em auto 2em auto;
    width: 800px;
    height: 400px;
    border: none;
}

img.center {
    display: block;
    width: 67%;
    margin: 1em auto 2em auto;
}


/* Flyer Images */

table.flyers {
    width: 800px;
}

td.flyer {
    white-space: nowrap;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

td.sponsor img {
    width: 100%
}

footer {
    font-size: 0.875em;
    margin-top: 12em;
    text-align: center;
}






.main_container {
    /* width: 80vw; */
    gap: 30px;

    display: flex;
    justify-content: space-between;

}

.left_container {

    margin: 50px 0px 0px 0px;
    max-width: 300px;
    font-size: 15px;

}

.name_heading {

    background-color: #710071;
    padding: 10px 20px;
    color: #fafafa;
    border-radius: 20px;

}


.names_box {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* gap: 5px; */

}

.name_container_container {
    display: flex;
    flex-direction: column;
    text-align: left;

    /* align-items: center; */
    margin: 10px 0px 10px 20px;
}









/* My hacky way of making the site mobile-friendly */

@media only screen and (max-width: 1100px) {
    h2 {
        font-size: 3.00em;
    }

    .about_para{
         max-width: 800px;
         word-break: break-all;
    } 
    
    td.navigation a.current {
        /* For browsers that do not support gradients */
        font-size: 28px;
    }



    p {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    th,
    td,
    tr {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    td.date {
        font-size: 1em;
        padding-top: 0.5em;
        transition: all 250ms ease-in-out;
        cursor: pointer;
    }

    .date:hover {

        transform: scale(1.5);

    }

    td.navigation {
        font-size: 1.5em;
        padding: 0px 20px 0px 20px;
    }

    table.footer {
        font-size: 0.33em;
    }


    table.sponsors {
        width: 100%;

    }

    .name_heading {

        background-color: #710071;
        padding: 10px 20px;
        color: #fafafa;
        border-radius: 20px;
        font-size: 13px;

    }



    footer {
        font-size: 1em;
        margin-top: 12em;
        text-align: center;
    }
}